@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer components {
  .search-bar {
    @apply lg:w-[240px] xl:w-[280px] bg-slate-100 rounded-full px-3 py-1 focus:outline-none dark:bg-gray-800;
  }
}

.slideAnimationIn {
  animation: slideAnimationIn 0.6s ease forwards;
}

@keyframes slideAnimationIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slideAnimationOut {
  animation: slideAnimationOut 0.6s ease forwards;
}

@keyframes slideAnimationOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

/* custom sidebar for products in cart  */
.custome-slidebar::-webkit-scrollbar {
  background-color: transparent;
  width: 0;
}

/* .custome-slidebar::-webkit-scrollbar-track {
  background-color: transparent;
} */

/* main group sidebar */
.main-scrollbar::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  height: 5px;
  border-radius: 2px;
}
.main-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}
.main-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-400/60 rounded-lg transition-all duration-200  hover:bg-gray-400/70 dark:bg-gray-600 dark:hover:bg-gray-500;
}
